<decor>
  <img src="./assets/decor1.svg">
  <img src="./assets/decor2.svg">
</decor>
<div class="settings_container">
  <button class="settings"><i class="fa-solid fa-gear"></i></button>
</div>
<main>
  <h1>Описание</h1>
  <p>Приложение разработано для студентов колледжа Iulia Hasdeu и помогает быстрее и удобнее ориентироваться в
  ежедневном расписании занятий. В отличие от сайта, оно обеспечивает более быструю загрузку и мгновенный доступ к данным.</p>
  <p>Система автоматически адаптируется под текущее время и заданные параметры, показывая актуальную информацию без лишних
  действий. Приложение стабильно работает даже без подключения к интернету, а интерфейс сделан с упором на простоту и
  удобство чтения.</p>
  <p>Среди дополнительных возможностей: уведомления за 5 минут до начала занятия с указанием предмета и кабинета, а также
  доступ к расписанию как для студентов, так и для преподавателей.</p>
  <p>В планах развитие: полноценная локализация на русский и румынский языки, а также расширенные настройки уведомлений и
  поддержка виджетов.</p> 
  <p>Также рассматривается внедрение функции поиска свободных классов для ситуаций (в стадии оценки).</p>
  <P>Данные расписания используются из официального <a href="https://cihcahul.edupage.org/timetable/">сайта колледжа Iulia Hasdeu.</a></P>
</main>