<decor>
  <img src="./assets/decor1.svg">
  <img src="./assets/decor2.svg">
</decor>
<div class="back_container">
  <a href="/" class="back"><i class="fa-solid fa-arrow-left"></i></a>
</div>
<main>
  <header>
    <img src="../assets/ico.svg">
    <div class="text_info">
      <h2>Cihcahul+</h2>
      <p>Оцените приложение</p>
    </div>
    <button class="publish">Опибликовать</button>
  </header>
  <div class="unknown_user">
    <h3><i class="fa-solid fa-circle-info"></i> He известный пользователь</h3>
    <p>Чтобы оставить отзыв вам необхадимо зарегестрироватся.</p>
    <button class="reg_with_google">
      <img src="../assets/Google_Favicon_2025.png">
      <p>Зарегестрируйтесь c помашью Google</p>
    </button>
  </div>
  <div class="known_user">
    <div class="user_info">
      <div class="icon">
        <i class="fa-solid fa-user"></i>
        <img src="">
      </div>
      <h3 class="user_name">User</h3>
    </div>
    <div class="invalid_email_warning">
      <i class="fa-solid fa-circle-info"></i>
      <p>Этот адрес электронной почты не поддерживается. Используйте email с окончанием @elev.cihcahul.md.</p>
    </div>
    <div class="text_info">
      <p>Отзывы видны всем и содержат сведения o вашем аккаунте и устроистве.</p>
      <a href="/rules">Подробнее...</a>
    </div>
  </div>
  <div class="feedback_react_stars">
    <img src="assets/star.svg">
    <img src="assets/star.svg">
    <img src="assets/star.svg">
    <img src="assets/star.svg">
    <img src="assets/star.svg">
  </div>
  <div class="feedback_text_content_container">
    <textarea maxlength="500" placeholder="Поделитесь впечатлениями (необязательно)"
      class="feedback_text_content"></textarea>
    <p>0/500</p>  
  </div>
  <div class="feedback_choice_content_container">
    <p>Поделитесь своим мнением (по желанию)</p>
    <div class="choices_container">
      <div class="choice">
        <div class="text_info">
          <p>Приложение <b>работает в офлан-режиме?</b></p>
          <button>Очистить</button>
        </div>
        <div class="actions">
          <button>Да</button>
          <button>Не знаю</button>
          <button>Нет</button>
        </div>  
      </div>
      <div class="choice">
        <div class="text_info">
          <p>В приложении <b>интуитивно потяный дизайн?</b></p>
          <button>Очистить</button>
        </div>
        <div class="actions">
          <button>Да</button>
          <button>Не знаю</button>
          <button>Нет</button>
        </div>
      </div>
    </div>
    <div class="dots">
      <div class="dot"><i class="fa-solid fa-circle"></i></div>
      <div class="dot"><i class="fa-solid fa-circle"></i></div>
    </div>
  </div>

</main>