<decor>
  <img src="./assets/decor1.svg">
  <img src="./assets/decor2.svg">
</decor>
<div class="settings_container">
  <button class="settings"><i class="fa-solid fa-gear"></i></button>
</div>
<main>
  <header>
    <div class="icon">
      <img src="./assets/ico.svg">
    </div>
    <div class="text_info">
      <h1 class="name">Cihcahul+</h1>
      <p>@costinox</p>
    </div>
  </header>
  <div class="download_container">
    <a class="download" href="https://github.com/Cospamos/cihcahul-plus/releases/latest/download/app-release.apk">
      <h3>Загрузить</h3>
    </a>
  </div>
  <div class="feedback_container">
    <h2>Оцените приложение</h2>
    <p>Поделитесь своим мнением</p>
    <div class="feedback_react_stars">
      <img src="assets/star.svg">
      <img src="assets/star.svg">
      <img src="assets/star.svg">
      <img src="assets/star.svg">
      <img src="assets/star.svg">
    </div>
    <a href="/feedback">Напишите отзыв</a>
  </div>
  <div class="description_container">
    <div class="text_info">
      <h2>Описание</h2>
      <p>Приложение разработаное специально для студентов коледжа имени Iulia Hasdeu c целью улучшения качества
        восприятия
        повседневного графика уроков</p>
    </div>
    <a href="/description"><i class="fa-solid fa-arrow-left"></i></a>
  </div>
  <div class="visual_example_container">
    <img src="../assets/examples/example1.jpg">
    <img src="../assets/examples/example2.jpg">
    <img src="../assets/examples/example3.jpg">
    <img src="../assets/examples/example4.jpg">
    <img src="../assets/examples/example5.svg">
  </div>
  <div class="graph_container">
    <div class="ratting_summary">
      <h1>4</h1>
      <div class="rating_sars">
        <img src="assets/star.svg">
        <img src="assets/star.svg">
        <img src="assets/star.svg">
        <img src="assets/star.svg">
        <img src="assets/star.svg">
      </div>
      <p class="feedbacks_cnt">10</p>
    </div>
    <div class="review_distribution">
      <div class="review_distribution_item">
        <p>5</p>
        <div class="bar"><div class="progress"></div></div>
      </div>
      <div class="review_distribution_item">
        <p>4</p>
        <div class="bar"><div class="progress"></div></div>
      </div>
      <div class="review_distribution_item">
        <p>3</p>
        <div class="bar"><div class="progress"></div></div>
      </div>
      <div class="review_distribution_item">
        <p>2</p>
        <div class="bar"><div class="progress"></div></div>
      </div>
      <div class="review_distribution_item">
        <p>1</p>
        <div class="bar"><div class="progress"></div></div>
      </div>
    </div>
  </div>
  <div class="feedback_cards"></div>
</main>